.fade-enter {
    opacity: 0;
}

.fade-enter-active{
    opacity: 1;
    transition: opacity 500ms;
}

.fade-exit{
    opacity: 1;
    position: absolute;
}

.fade-exit-active{
    opacity: 0;
    transition: opacity 500ms;
}
 
.slidevertical-enter,
.slidevertical-exit {
  transition: transform 500ms ease-out;
}

.slidevertical-enter {
  transform: translateY(100%);
}

.slidevertical-enter.slidevertical-enter-active {
  transform: translateY(0%);
}

.slidevertical-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(0%); 
}

.slidevertical-exit-active {
  transform: translateY(-100%);
}

.slidehorizontal-enter,
.slidehorizontal-exit {
  transition: all 0.1s ease-out;
}

.slidehorizontal-enter {
  transform: translateX(100%);
  opacity: 1;
}

.slidehorizontal-enter.slidehorizontal-enter-active {
  transform: translateX(0%);
}

.slidehorizontal-exit {
  position: absolute;
  top: 20px;
  transform: translateX(0%);
}

.slidehorizontal-exit-active {
  transform: translateX(-150%);
  opacity: 0;
}

.home-router-container > *{  
  /* background-color: red; */
  /* display: flex; 
  justify-content:  center;
  align-items: center; */
  /* height: 100%; */
}